.answerButton{
    width: 60%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /* border: 1px solid red;  */
    margin-bottom: 20px;
}
.answerButton div{
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    width: 450px;
    border: 1px solid red; 
}

.cutAnswersByHalf{
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    width: 450px;
    border: 1px solid red; 
}

.displayQueastion {
    width: 100%;
     height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}